[submodule "extern/gvisor"]
	path = extern/gvisor
	url = https://github.com/google/gvisor.git
[submodule "extern/gvisor-dev"]
	path = extern/gvisor-dev
	url = https://github.com/291j-gvisor/gvisor.git
